# Data retrieval from PATSTAT

This notebook retrieves data from the PATSTAT database (PostgreSQL).

## Import libraries and model modules

In [1]:
# Standard libraries

import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from pandas.io.sql import SQLTable, pandasSQL_builder
import sys

In [2]:
# Model modules
sys.path.append("../models")

import data_variables as var # Names of the PATSTAT data variables
from temporary_table import TemporaryTable # Code snippet to create temporary tables in the SQL database
import read_sql_tmpfile as rSQLtemp # Same

## Data retriever engine configuration

We define in the ConfigEngine class the constant parameters for the custom EngineForPATSTAT that we define to retrieve the data we need from the PATSTAT database.

In [3]:
class ConfigEngine:
    
    engine = create_engine('postgresql://postgres:postgres2020@127.0.0.1:5432/patstat2018a')
    
    sql_query_PATENT_PRIMARY_INFO = """
            SELECT tls201_appln.appln_id, tls201_appln.DOCDB_FAMILY_ID,tls201_appln.EARLIEST_FILING_DATE, tls201_appln.EARLIEST_FILING_YEAR, tls201_appln.NB_CITING_DOCDB_FAM, cpc_class_symbol
            FROM tls201_appln JOIN tls224_appln_cpc ON tls201_appln.appln_id = tls224_appln_cpc.appln_id
            WHERE cpc_class_symbol like '{}%%'
            AND appln_filing_year between {} and {}
            ORDER BY tls201_appln.appln_id
            """
    
    sql_query_PATENT_MAIN_INFO = """
            SELECT * 
            FROM temporary_table_patent_ids
            LEFT JOIN tls201_appln ON temporary_table_patent_ids.appln_id = tls201_appln.appln_id
            LEFT JOIN TLS202_APPLN_TITLE ON temporary_table_patent_ids.appln_id = TLS202_APPLN_TITLE.appln_id
            LEFT JOIN TLS203_APPLN_ABSTR ON temporary_table_patent_ids.appln_id = TLS203_APPLN_ABSTR.appln_id
            LEFT JOIN TLS209_APPLN_IPC ON temporary_table_patent_ids.appln_id = TLS209_APPLN_IPC.appln_id
            LEFT JOIN TLS229_APPLN_NACE2 ON temporary_table_patent_ids.appln_id = TLS229_APPLN_NACE2.appln_id
            """
    
    sql_query_CPC_INFO = """
            SELECT * 
            FROM temporary_table_patent_ids
            LEFT JOIN TLS224_APPLN_CPC ON temporary_table_patent_ids.appln_id = TLS224_APPLN_CPC.appln_id 
            """
    
    sql_query_PATENTEES_INFO = """
            SELECT * 
            FROM temporary_table_patent_ids
            LEFT JOIN TLS207_PERS_APPLN ON temporary_table_patent_ids.appln_id = TLS207_PERS_APPLN.appln_id
            LEFT JOIN TLS206_PERSON ON TLS207_PERS_APPLN.PERSON_ID = TLS206_PERSON.PERSON_ID
            LEFT JOIN TLS226_PERSON_ORIG ON TLS206_PERSON.PERSON_ID = TLS226_PERSON_ORIG.PERSON_ID
            --LEFT JOIN TLS228_DOCDB_FAM_CITN ON tls201_appln.DOCDB_FAMILY_ID = TLS228_DOCDB_FAM_CITN.DOCDB_FAMILY_ID
            """
    
    sql_query_DOCDB_backwards_citations = """
            SELECT * 
            FROM docdb_family_ids
            LEFT JOIN TLS228_DOCDB_FAM_CITN ON docdb_family_ids.docdb_family_id = TLS228_DOCDB_FAM_CITN.docdb_family_id
            """
    
    sql_query_FORWARD_CITATIONS = """
            SELECT docdb_family_ids.DOCDB_FAMILY_ID, TLS228_DOCDB_FAM_CITN.DOCDB_FAMILY_ID,
            TLS228_DOCDB_FAM_CITN.CITED_DOCDB_FAMILY_ID
            FROM docdb_family_ids JOIN TLS228_DOCDB_FAM_CITN 
            ON docdb_family_ids.DOCDB_FAMILY_ID = TLS228_DOCDB_FAM_CITN.CITED_DOCDB_FAMILY_ID
            """

In [4]:
config = ConfigEngine()

## Query Parameters

We store the parameters of the queries to execute in a specific class, QueryParameters. These parameters are the list of the technology classes of interest, and the desired time frame.

In [5]:
class QueryParameters:
    
    """Parameters of the PATSTAT query"""
    
    # Input variables
    technology_classes: list
    start_year: int
    end_year: int
        
    # Output variables
    output_files_prefix: str
        
    def __init__(self, technology_classes, start_year, end_year, output_files_prefix):
        self.technology_classes = technology_classes
        self.start_year = start_year
        self.end_year = end_year
        self.output_files_prefix = output_files_prefix

## Code snippet

We place in this section a code snippet used in the model.

In [6]:
def create_temporary_table(df, temporary_table_name, key, eng):
        
    """
    Snippet to create a temporary table in the SQL database
    Inpired from https://stackoverflow.com/questions/30867390/python-pandas-to-sql-how-to-create-a-table-with-a-primary-key
    """
    
    with eng.connect() as conn, conn.begin():
        pandas_engine = pandasSQL_builder(conn)

        # creating a table
        table = TemporaryTable(temporary_table_name, pandas_engine, frame=df, if_exists="replace")
        table.create()

        # dumping to the existing table
        df.to_sql(temporary_table_name, conn, index = False, if_exists="replace")

    # Simply add the primary key after uploading the table with pandas.
    with eng.connect() as con:
        con.execute('ALTER TABLE ' + temporary_table_name  + ' ADD PRIMARY KEY ('+key+');')

## Engine to query PATSTAT

We now define our custom EngineForPATSTAT.

In [54]:
class EngineForPATSTAT:
    
    """
    Engine for retrieving data from the PostgreSQL PATSTAT database
    
    # To initialise, set:
    - the configuration (config: ConfigEngine)
    - the parameters of the query (query: QueryParameters).
    """
    
    # Defined with the initialisation
    config: ConfigEngine
    query: QueryParameters
        
    # Defined once the model is be fitted
    patent_ids: list
    docdb_ids: list
        
    # Result datasets
    TABLE_MAIN_PATENT_INFOS: pd.DataFrame()
    TABLE_CPC: pd.DataFrame()
    TABLE_PATENTEES_INFO: pd.DataFrame()
    TABLE_DOCDB_BACKWARD_CITATIONS: pd.DataFrame()
    TABLE_DOCDB_FORWARD_CITATIONS: pd.DataFrame()
        
    
    def __init__(self, config: ConfigEngine, query: QueryParameters):
        self.config = config
        self.query = query
        
        
    def _get_main_info(self): 
    
        """
        We retrieve the primary information about the patent, so as to filter them before querying again:
        # 1. IDs
        # 2. Technology class to select them (other technology classes will be with other queries)
        # 3. Family id
        # 4. Filling date
        # 5. Number of patent citations at the DOCDB family level
        """
        config = self.config
        query = self.query

        # We retrieve the data for all technology classes 1 by 1
        # and store the result in a separate dataframe
        list_df = []
        for technology_class in query.technology_classes:

            # We insert in the standart query the parameters chosen
            SQL_query = config.sql_query_PATENT_PRIMARY_INFO.format(technology_class,
                                                                query.start_year,
                                                                query.end_year)
            t = rSQLtemp.read_sql_tmpfile(SQL_query,config.engine)
            list_df.append(t)

        # We append all the dataframes (all the technology classes) together
        # Return
        self.TABLE_MAIN_PATENT_INFOS = pd.concat(list_df)
    
    
    def _select_patents_of_interest(self):
        """This function should actually be part of the modelling"""
        
        ###--------------------------------------------------------
        ### No filtering of data at this point
        ## May belong to the modelling part!!!
        ## --------------------------------------------------------
        
        # Return
        self.patent_ids = self.TABLE_MAIN_PATENT_INFOS[var.PATSTAT_APPLN_ID].unique().tolist()
        self.docdb_ids = self.TABLE_MAIN_PATENT_INFOS[var.PATSTAT_DOCDB_FAMILY_ID].unique().tolist()
    
    
    def _create_temp_table_with_patent_ids(self):
        """Creating a temporary table in the SQL database contaning the patent ids"""
    
        temporary_table_name = 'temporary_table_patent_ids'

        t = tuple(self.patent_ids)
        df = pd.DataFrame(t)
        df.columns = [var.PATSTAT_APPLN_ID]
        
        # Creation of the temporary table in the SQLAlchemy database
        create_temporary_table(df = df,
                               temporary_table_name = temporary_table_name,
                               key = var.PATSTAT_APPLN_ID,
                               eng = self.config.engine)
        
        
    def _get_general_info(self):
        """
        Retrieving general information about the selected patents:
        # Title
        # Abstract
        # IPC class
        # NACE codes
        """
        self.TABLE_MAIN_PATENT_INFOS =  rSQLtemp.read_sql_tmpfile(self.config.sql_query_PATENT_MAIN_INFO,
                                                                  self.config.engine)
    
    
    def _get_CPC_classes(self):
        "Retrieving CPC technology classes of the selected patents"
        self.TABLE_CPC = rSQLtemp.read_sql_tmpfile(self.config.sql_query_CPC_INFO, 
                                                   self.config.engine)
    
    
    def _get_patentees_info(self):
        """Retrieving information about the patentees (individuals) of the selected patents"""
        self.TABLE_PATENTEES_INFO = rSQLtemp.read_sql_tmpfile(self.config.sql_query_PATENTEES_INFO,
                                                              self.config.engine)
    
    
    def _create_temp_table_with_DOCDB_ids(self):
        """Creating a temporary table in the SQL database containing the docdb_family ids"""

        config = self.config
        query = self.query
        
        temporary_table_name = 'docdb_family_ids'

        t = tuple(self.docdb_ids)
        df = pd.DataFrame(t)
        df.columns = [var.PATSTAT_DOCDB_FAMILY_ID]

        # Creation of the temporary table in the SQLAlchemy database
        create_temporary_table(df = df,
                               temporary_table_name = temporary_table_name,
                               key = var.PATSTAT_DOCDB_FAMILY_ID,
                               eng = config.engine)
        
        
    def _retrieve_backward_docdb_citations(self):
        """Retrieving information about backward citations of the selected families"""
        self.TABLE_DOCDB_BACKWARD_CITATIONS = rSQLtemp.read_sql_tmpfile(self.config.sql_query_DOCDB_backwards_citations,
                                                                         self.config.engine)
    
    
    def _retrieve_forward_docdb_citations(self):
        """Retrieving information about forward citations of the selected families"""
        self.TABLE_DOCDB_FORWARD_CITATIONS = rSQLtemp.read_sql_tmpfile(self.config.sql_query_FORWARD_CITATIONS,
                                                                 self.config.engine) 
        
        
    def _export_result_datasets(self):
        """Exporting the result datasets in the data/raw folder"""
        
        pre = '../data/raw/' + self.query.output_files_prefix
        suf = '.csv'
        
        storage_scheme = {'_table_main_patent_infos' : self.TABLE_MAIN_PATENT_INFOS,
                          '_table_cpc' : self.TABLE_CPC,
                          '_table_patentees_info' : self.TABLE_PATENTEES_INFO ,
                          '_table_backward_docdb_citations' : self.TABLE_DOCDB_BACKWARD_CITATIONS,
                          '_table_forward_docdb_citations' : self.TABLE_DOCDB_FORWARD_CITATIONS}
        
        for path, df in storage_scheme.items():
            path = pre + path + suf
            #compression_opts = dict(method = 'zip', archive_name = path) 
            df.to_csv(path, index=False)#, compression=compression_opts)

## Creating the query and lauching the custom Engine

In [55]:
query_wind_technologies = QueryParameters(technology_classes = ['Y02E  10/7'],
                                          start_year = 1990,
                                          end_year = 1991,
                                          output_files_prefix = "wind_tech")

In [56]:
PATSTAT_engine = EngineForPATSTAT(config, query_wind_technologies)

## Performing the different steps of the data retrieval model

In [57]:
%%time
PATSTAT_engine._get_main_info()
PATSTAT_engine._select_patents_of_interest()
#PATSTAT_engine._create_temp_table_with_patent_ids()
PATSTAT_engine._get_general_info()
PATSTAT_engine._get_CPC_classes()
PATSTAT_engine._get_patentees_info()
#PATSTAT_engine._create_temp_table_with_DOCDB_ids()
PATSTAT_engine._retrieve_backward_docdb_citations()
PATSTAT_engine._retrieve_forward_docdb_citations()

CPU times: user 99.7 ms, sys: 19.2 ms, total: 119 ms
Wall time: 59.5 s

## Result datasets

In [58]:
PATSTAT_engine.TABLE_MAIN_PATENT_INFOS.head()

,appln_id,appln_id.1,appln_auth,appln_nr,appln_kind,appln_filing_date,appln_filing_year,appln_nr_epodoc,appln_nr_original,ipr_type,...,appln_id.4,ipc_class_symbol,ipc_class_level,ipc_version,ipc_value,ipc_position,ipc_gener_auth,appln_id.5,nace2_code,weight
0,44954682,44954682,TR,32490,A,1990-04-20,1990,TR19900000324,00324/90,PI,...,44954682.0,F03D 3/00,A,2006-01-01,I,,EP,44954682.0,28.1,1.0
1,7233424,7233424,CN,91221168,U,1991-11-18,1991,CN1991221168U,91221168,UM,...,7233424.0,F03D 3/00,A,2006-01-01,I,,EP,7233424.0,28.1,1.0
2,11177052,11177052,DE,4040411,A,1990-12-18,1990,DE19904040411,4040411,PI,...,11177052.0,B64C 11/00,A,2006-01-01,I,,EP,11177052.0,30.0,0.5
3,11177052,11177052,DE,4040411,A,1990-12-18,1990,DE19904040411,4040411,PI,...,11177052.0,B64C 11/00,A,2006-01-01,I,,EP,11177052.0,28.1,0.5
4,11177052,11177052,DE,4040411,A,1990-12-18,1990,DE19904040411,4040411,PI,...,11177052.0,F03D 1/06,A,2006-01-01,I,,EP,11177052.0,30.0,0.5

In [59]:
PATSTAT_engine.TABLE_PATENTEES_INFO.head()

,appln_id,person_id,appln_id.1,applt_seq_nr,invt_seq_nr,person_id.1,person_name,person_address,person_ctry_code,doc_std_name_id,...,address_3,address_4,address_5,street,city,zip_code,state,person_ctry_code.1,residence_ctry_code,role
0,16907568,3068683.0,16907568.0,0.0,1.0,3068683.0,"BROWN, Kenneth, Charles","15 Fitzgibbon Street,Parkville, VIC 3052",AU,1350174.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,AU,,NaN
1,16907568,3068684.0,16907568.0,0.0,2.0,3068684.0,"MEIKLE, Peter, John","19 Thornton Avenue,Surrey Hills, VIC 3127",AU,532554.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,AU,,NaN
2,16908911,3071390.0,16908911.0,0.0,1.0,3071390.0,"PROVEN, Gordon","Castle Cottage,Porten Cross, West Kilbride KA2...",GB,1013219.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,GB,,NaN
3,16913679,3081226.0,16913679.0,1.0,1.0,3081226.0,"FEDORYAKA, Andrei Andreevich","ul. Kirovogradskaya, 4-4-82,Moscow, 103735",SU,15480489.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,SU,,NaN
4,16914117,3082140.0,16914117.0,1.0,1.0,3082140.0,"CARTER, J., Warne, Sr.","4302 Arnold Drive,Wichita Falls, TX 76302",US,1356371.0,...,NaN,NaN,NaN,NaN,NaN,NaN,,US,,NaN

In [60]:
PATSTAT_engine.TABLE_CPC.head()

,appln_id,appln_id.1,cpc_class_symbol,cpc_scheme,cpc_version,cpc_value,cpc_position,cpc_gener_auth
0,325297,325297,F03D 13/20,CPC,2016-05-02,I,L,
1,325297,325297,F03D 7/0204,CPC,2013-01-01,I,F,
2,325297,325297,F03D 80/70,CPC,2016-05-02,I,L,
3,325297,325297,F05B2240/40,CPC,2013-01-01,A,L,
4,325297,325297,F05B2250/00,CPC,2013-01-01,A,L,

In [61]:
PATSTAT_engine.TABLE_DOCDB_FORWARD_CITATIONS.head()

   docdb_family_id  docdb_family_id.1  cited_docdb_family_id
0         24116515           45352739               24116515
1         25066415           45390219               25066415
2          6416546           45372472                6416546
3          6434676           45372472                6434676
4         24605356           45555666               24605356

In [62]:
PATSTAT_engine.TABLE_DOCDB_BACKWARD_CITATIONS.head()

   docdb_family_id  docdb_family_id.1  cited_docdb_family_id
0          6397589          6397589.0               433225.0
1          6397589          6397589.0              2225605.0
2          6397589          6397589.0              2948958.0
3          6397589          6397589.0              3111053.0
4          6397589          6397589.0              3843487.0

## Storing the datasets for the rest of the analysis

In [63]:
PATSTAT_engine._export_result_datasets()